@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #1e1e1e;
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: linear-gradient(to bottom right, #3b82f6, #10b981);
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom right,  #10b981,#3b82f6);
  }
  